@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@600;700&display=swap');

/* font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif; */

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
}

.container > * {
    margin: .2rem;
}

.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    padding:  1rem 0rem;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    margin: .2rem;
    text-decoration: none;
    color: black
}

a:hover{
    text-decoration: underline;
}

img{
    width: 25%;
    margin-top: .5rem;
}

.hero-div {
    grid-area: hero-div;
    /* background-color: #f06457; */
}

.content {
    padding: 0 1rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-1 {
    grid-area: content-1;
    
}

.content-2 {
    grid-area: content-2;
    
}


.content-3 {
    grid-area: content-3;
    
}

.content-4 {
    grid-area: content-4;
    
}

.content-5 {
    grid-area: content-5;
    
}
.content-6 {
    grid-area: content-6;
    
}
.content-7 {
    grid-area: content-7;
    
}

.content-8 {
    grid-area: content-8;
    
}

.content-9 {
    grid-area: content-9;
    
}

.content-10 {
    grid-area: content-10;
    
}

.content-11 {
    grid-area: content-11;
    
}

.content-12 {
    grid-area: content-12;
    
}

.content-13 {
    grid-area: content-13;
    
}

.content-14 {
    grid-area: content-14;
    
}

.content-15 {
    grid-area: content-15;
    
}

.content-16 {
    grid-area: content-16;
    
}

.content-17 {
    grid-area: content-17;
}

.content-18 {
    grid-area: content-18;
}

.side-footer {
    grid-area: side-footer;
}

footer {
    grid-area: footer;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Roboto Mono', monospace;
}

hr {
    border: 5px ;
    border-style: dotted; 
    color: black
}

@media screen and (min-width: 550px) {
    .container {
        display: grid;
        height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "navbar navbar"
    "hero-div hero-div"
    "content-1 content-2"
    "content-3 content-4"
    "content-5 content-6"
    "content-7 content-8"
    "content-9 content-10"
    "content-11 content-12"
    "content-13 content-14"
    "content-15 content-16"
    "content-17 content-18"
    "side-footer footer"
    ;
    grid-gap: 0.2rem;
    } 
}